# © School of Computer Science - BINUS, 2021. No part of the materials available may be copied,
# photocopied, reproduced, translated, or reduced to any electronic medium or machine-readable form,
# in whole or in part, without prior written consent of School of Computer Science - BINUS.
# Any other reproduction in any form without the permission of School of Computer Science - BINUS is probihited.
# Violators of this clause may be academically sanctioned.
prob-*.pdf

# MacOS Stuff
.DS_Store

# VSCode Stuff
.vscode/*